@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

@keyframes visi {
    0% {
        height: 100vh;
    }
    100% {
        height: 9vh;
        display: none;
    }
}

@keyframes opa {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes menudown {
    0% {
        height: 0;
    }
    100% {
        height: 100vh;
    }
}

header {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    margin: 0 auto;
    background-position: center center;
    color: white;
}

.backgroundimg{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center center;
    filter: blur(6px);
    transition: 2s;
}

.loginbutton {
    font-family: "Inria Serif", sans-serif;
    font-size: 15px;
    font-weight: 1000;
    text-align: left;
    right: 5%;
    top: 30%;
    padding-left: 33px;
    position: absolute;
    height: 50px;
    width: 140px;
    border-radius: 100px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

input {
    width: 612px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 12px;
    padding-left: 30px;
    color: black;
    border: none;
}

input:focus {
    outline: none;
}

.spacediv{
    position: absolute;
    width: 100%;
    height: 294px;
    top: 100%;
    background: #FFFFFF;
}

.topbar {
    position: absolute;
    height: 101px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.top {
    z-index: 3;
}

.Matjip {
    text-align: start;
    height: 100%;
    width: 100%;
}

.txt1 {
    position: absolute;
    width: 50%;
    height: 153px;
    left: 114px;
    top: 32%;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 153px;
    letter-spacing: 10px;

    color: #FFFFFF;
}

.box{
    position: absolute;
    width: 13px;
    height: 107px;
    left: 117px;
    top: 56%;
    background: #FFFFFF;
}

.txt2{
    position: absolute;
    width: 50%;
    height: 96px;
    left: 153px;
    top: 56%;

    letter-spacing: 2px;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

.viewAll {
    height: 50px;
}

.outprofile{
    top: 30%;
    right: 5%;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #00FFD1;
    border-radius: 100%;
}

.inprofile{
    top: 32.5%;
    right: 5.14%;
    position: absolute;
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 100%;
}