@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&display=swap');

@keyframes scrolldown {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@keyframes scrollup {
    0% {
        top: 0;
    }
    99% {
        top: -100px;
    }
    100%{
        position: absolute;
        top: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes visi {
    0% {
        height: 100vh;
    }
    100% {
        height: 9vh;
        display: none;
    }
}

@keyframes opa {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes menudown {
    0% {
        height: 0;
    }
    100% {
        height: 100vh;
    }
}

header {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    margin: 0 auto;
    background-position: center center;
    color: white;
}

.backgroundimg {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center center;
    filter: blur(6px);
    transition: 2s;
}

input {
    width: 612px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 12px;
    padding-left: 30px;
    color: black;
    border: none;
}

input:focus {
    outline: none;
}

.spacediv {
    position: absolute;
    width: 100%;
    height: 294px;
    top: 100%;
    background: #FFFFFF;
}

.topbar {
    position: absolute;
    height: 101px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.topbarfix {
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.5s;
    z-index: 10;
}

.top {
    z-index: 3;
}

.Matjip {
    text-align: start;
    height: 100%;
    width: 100%;
}

.txt1 {
    position: absolute;
    width: 50%;
    height: 153px;
    left: 114px;
    top: 32%;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 153px;
    letter-spacing: 10px;

    color: #FFFFFF;
}

.box {
    position: absolute;
    width: 13px;
    height: 107px;
    left: 117px;
    top: 56%;
    background: #FFFFFF;
}

.txt2 {
    position: absolute;
    width: 50%;
    height: 96px;
    left: 153px;
    top: 56%;

    letter-spacing: 2px;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

.viewAll {
    height: 50px;
}

.Login_btn {
    right: 3%;
    position: relative;
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
}

.Login_icon {
    z-index: 3;
    position: relative;
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 2rem;
    border: 3px solid #00FFD1;
    background: #fff;
    box-sizing: border-box;
}

.Login_text {
    font-family: "Inria Serif", sans-serif;
    text-align: center;
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    margin: 0;
    right: 0;
    float: right;
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 2px 6px 0 #CCC;
    box-sizing: border-box;
    z-index: -1;
    opacity: 0;
    color:#000;
    font-weight: 500;
    line-height: 3;
    font-size: 15px;
    padding-right: 30px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1), opacity .4s;
}
.Login_btn:hover .Login_text {
    width: 10rem;
    opacity: 1;
}